@{
  ViewData["Title"] = "Listado de tableros";
}

@using tl2_tp10_2023_TcassasT.ViewModels
@using tl2_tp10_2023_TcassasT.Models
@model GetTablerosViewModel

@if (Model.Estatus != null && Model.Estatus.TieneEstatus) {
  <div class="@("alert alert-" + ((int) Model.Estatus.Severidad == 0 ? "danger" : (int) Model.Estatus.Severidad == 1 ? "warning" : "success"))" role="alert">
    <strong>@Model.Estatus.EstatusMensaje</strong>
  </div>
}
<div style="display: flex; justify-content: space-between; align-items: center;">
  <h2 class="mb-3">Mis tableros</h2>
  <button type="button" class="btn btn-primary">
    <a asp-controller="Tablero" asp-action="CrearTablero" style="text-decoration: none; color: white;">Crear tablero</a>
  </button>
</div>
@if (@Model.Tableros.Count > 0) {
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Nombre de tablero</th>
        <th scope="col">Descripcion</th>
        <th scope="col" colspan="2">Acciones</th>
        <th scope="col">Tareas</th>
        <th scope="col">Miembros</th>
      </tr>
    </thead>
    <tbody>
      @foreach(TableroMembrecias tablero in Model.Tableros) {
        <tr>
          <th scope="row">@tablero.Id</th>
          <td>@tablero.Nombre</td>
          <td>@tablero.Descripcion</td>
          <td>
            <a asp-action="ModificarTablero" asp-route-id=@tablero.Id>Editar</a>
          </td>
          <td>
            <a asp-controller="Tablero" asp-action="EliminarTablero" asp-route-id=@tablero.Id>Eliminar</a>
          </td>
          <td>
            <a asp-controller="Tablero" asp-action="GetTareasByTableroId" asp-route-idTablero=@tablero.Id>Ver tareas</a>
          </td>
          <td>
            <a asp-controller="Tablero" asp-action="GetMiembrosByTableroId" asp-route-idTablero=@tablero.Id>Ver miembros (@tablero.Miembros.Count)</a>
          </td>
        </tr>
      }
    </tbody>
  </table>
} else {
  <p>No se encontraron tableros creados</p>
}
