@using tl2_tp10_2023_TcassasT.Models
@using tl2_tp10_2023_TcassasT.ViewModels
@model GetTareasByTableroIdViewModel

<div style="display: flex; justify-content: space-between; align-items: center;">
  <h1>Lista de tareas</h1>
  <button type="button" class="btn btn-primary">
    <a asp-controller="Tablero" asp-action="CrearTarea" asp-route-idTablero=@Model.TableroId style="text-decoration: none; color: white;">Crear tarea</a>
  </button>
</div>
<div class="container">
  <div class="row g-2 justify-content-md-start">
    @foreach (var estado in Enum.GetValues(typeof(EstadoTarea)).Cast<EstadoTarea>()) {
      <div class="col">
        <h3>@estado</h3>
        @foreach (var tarea in Model.TareasPorEstado[estado]) {
          <div class="card mt-2" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">@tarea.Nombre</h5>
              <h6 class="card-subtitle mb-2 text-muted">Ultima interacción: 02-02-2024</h6>
              <p class="card-text">@tarea.Descripcion</p>
              <!-- Button trigger modal -->
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modal-detalle-tarea"
                data-bs-tareaNombre="@tarea.Nombre"
                data-bs-tareaDescripcion="@tarea.Descripcion"
              >
                Ver detalle
              </button>
              <button
                type="button"
                class="btn btn-primary"
                data-bs-toggle="modal"
                data-bs-target="#modal-cambiar-estado-tarea"
                data-bs-tareaNombre="@tarea.Nombre"
                data-bs-tareaEstado="@tarea.Estado"
                data-bs-tareaId="@tarea.Id"
              >
                Cambiar estado
              </button>
            </div>
          </div>
        }
      </div>
    }
  </div>
</div>

<!-- Modal detalle de tarea -->
<div class="modal fade" id="modal-detalle-tarea" tabindex="-1" aria-labelledby="detalle-tarea-nombre" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detalle-tarea-nombre">Modal title</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="detalle-tarea-descripcion">
        <p>Modal body</p>
      </div>
    </div>
  </div>
</div>

<!-- Modal cambiar estado de tarea -->
<div class="modal fade" id="modal-cambiar-estado-tarea" tabindex="-1" aria-labelledby="estado-tarea" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="estado-tarea">Cambiar estado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Estas por cambiar el estado de la tarea: <strong id="cambiar-estado-nombre"></strong></p>
        <form asp-controller="Tablero" asp-action="ModificarEstadoTarea" asp-route-idTarea="replaceTareaId" asp-route-idTablero=@Model.TableroId method="post">
          <div class="mb-3">
            <label class="form-label">Nuevo estado</label>
            <select class="form-select" name="estado">
              @foreach (var estado in Enum.GetValues(typeof(EstadoTarea))) {
                <option value="@estado">@estado</option>
              }
            </select>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/getTareasByTableroId.js"></script>
}
