@{
  ViewData["Title"] = "Tablero: " + @Model.Tablero.Nombre;
}

@using tl2_tp10_2023_TcassasT.Models
@using tl2_tp10_2023_TcassasT.ViewModels
@model GetTareasByTableroIdViewModel

@if (Model.Estatus != null && Model.Estatus.TieneEstatus) {
  <div class="@("alert alert-" + ((int) Model.Estatus.Severidad == 0 ? "danger" : (int) Model.Estatus.Severidad == 1 ? "warning" : "success"))" role="alert">
    <strong>@Model.Estatus.EstatusMensaje</strong>
  </div>
}
<div class="d-flex flex-column flex-md-row justify-content-between align-items-center mb-2">
  <h2 class="mb-3">Tablero: @Model.Tablero.Nombre</h2>
  <div class="d-flex flex-wrap">
    <button type="button" class="btn btn-primary me-2">
      <i class="bi bi-plus"></i>
      <a asp-controller="Tablero" asp-action="CrearTarea" asp-route-idTablero="@Model.Tablero.Id" class="text-decoration-none text-white">Crear tarea</a>
    </button>
    <button type="button" class="btn btn-warning me-2">
      <i class="bi bi-archive" style="color: white;"></i>
      <a asp-controller="Tablero" asp-action="GetTareasArchivadasByTableroId" asp-route-idTablero="@Model.Tablero.Id" class="text-decoration-none text-white">Ver tareas archivadas</a>
    </button>
    <button type="button" class="btn btn-info">
      <i class="bi bi-activity" style="color: white;"></i>
      <a asp-controller="Tablero" asp-action="GetActividadByTableroId" asp-route-idTablero="@Model.Tablero.Id" class="text-decoration-none text-white">Ver actividad</a>
    </button>
  </div>
</div>
<div style="white-space: nowrap; max-height: 70vh;">
  <div class="row g-2">
    <div class="d-flex" style="overflow-x: auto;">
      @foreach (var estado in Enum.GetValues(typeof(EstadoTarea)).Cast<EstadoTarea>()) {
        <div class="col me-2" style="min-width: 19rem; overflow-x: hidden;">
          <h4>@estado</h4>
          <div class="d-flex flex-column" style="overflow-y: auto; max-height: 400px;">
            @foreach (var tarea in Model.TareasPorEstado[estado]) {
              <div class="card mt-2" style="width: 18rem;">
                <div class="card-body">
                  <div class="d-flex">
                    <div class="flex-grow-1">
                      <h5 class="card-title text-truncate" style="max-width: 200px; text-overflow: ellipsis;">@tarea.Nombre</h5>
                    </div>
                  </div>
                  <p class="card-text text-truncate" style="max-width: 500px;">@tarea.Descripcion</p>
                  <div class="modal-footer m-0">
                    <div class="dropdown">
                      <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Acciones
                      </button>
                      <ul class="dropdown-menu">
                        <li>
                          <button
                            type="button"
                            class="dropdown-item"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-detalle-tarea"
                            data-bs-tareaNombre="@tarea.Nombre"
                            data-bs-tareaDescripcion="@tarea.Descripcion"
                            data-bs-tareaId="@tarea.Id"
                            data-bs-tableroId="@tarea.IdTablero"
                          >
                            <i class="bi bi-info-square"></i>
                            Ver detalle
                          </button>
                        </li>
                        <li>
                          <button
                            type="button"
                            class="dropdown-item"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-cambiar-estado-tarea"
                            data-bs-tareaNombre="@tarea.Nombre"
                            data-bs-tareaEstado="@tarea.Estado"
                            data-bs-tareaId="@tarea.Id"
                          >
                            <i class="bi bi-arrow-left-right"></i>
                            Cambiar estado
                          </button>
                        </li>
                        <li>
                          <a
                            class="dropdown-item"
                            asp-controller="Tablero"
                            asp-action="ModificarTarea"
                            asp-route-idTablero="@tarea.IdTablero"
                            asp-route-idTarea="@tarea.Id"
                          >
                            <i class="bi bi-pencil"></i>
                            Editar tarea
                          </a>
                        </li>
                        <li><hr class="dropdown-divider"></li>
                        <li>
                          <button
                            type="button"
                            class="dropdown-item"
                            data-bs-toggle="modal"
                            data-bs-target="#modal-archivar-tarea"
                            data-bs-tareaNombre="@tarea.Nombre"
                            data-bs-tareaEstado="@tarea.Estado"
                            data-bs-tareaId="@tarea.Id"
                          >
                            <i class="bi bi-archive"></i>
                            Archivar tarea
                          </button>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            }
          </div>
        </div>
      }
    </div>
  </div>
</div>

<!-- Modal detalle de tarea -->
<div class="modal fade" id="modal-detalle-tarea" tabindex="-1" aria-labelledby="detalle-tarea-nombre" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="detalle-tarea-nombre">Cargando nombre de tarea...</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p id="detalle-tarea-descripcion">Cargando descripcion...</p>
        <strong class="mt-2 mb-1 border-bottom-1 border-danger">Actividades</strong>
        <div id="detalle-tarea-actividades" style="max-height: 400px; overflow-y: scroll;"></div>
      </div>
    </div>
  </div>
</div>

<!-- Modal cambiar estado de tarea -->
<div class="modal fade" id="modal-cambiar-estado-tarea" tabindex="-1" aria-labelledby="estado-tarea" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="estado-tarea">Cambiar estado</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>Estas por cambiar el estado de la tarea: <strong id="cambiar-estado-nombre"></strong></p>
        <form asp-controller="Tablero" asp-action="ModificarEstadoTarea" asp-route-idTarea="replaceTareaId" asp-route-idTablero=@Model.Tablero.Id method="post">
          <div class="mb-3">
            <label class="form-label">Nuevo estado</label>
            <select class="form-select" name="estado">
              @foreach (var estado in Enum.GetValues(typeof(EstadoTarea))) {
                <option value="@estado">@estado</option>
              }
            </select>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Actualizar</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<!-- Modal archivado de tarea -->
<div class="modal fade" id="modal-archivar-tarea" tabindex="-1" aria-labelledby="archivar-tarea" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="archivar-tarea">Archivar tarea</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p>¿Estas seguro que quieres archviar la tarea: <strong id="archivar-nombre"></strong>?</p>
        <form asp-controller="Tablero" asp-action="ArchivarTarea" asp-route-idTarea="replaceTareaId" asp-route-idTablero=@Model.Tablero.Id  method="post">
          <input type="number" value="@Convert.ToInt32(ArchivadoTarea.ARCHIVADO)" name="archivado" readonly hidden>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary">Si</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

@section Scripts {
  <script src="~/js/getTareasByTableroId.js"></script>
}
