@using tl2_tp10_2023_TcassasT.Models
@model HomeIndexViewModel

@{
  ViewData["Title"] = "Home Page";
}

<div class="container">
  <h1 class="display-4 text-center">Bienvenido {TOMÁS}</h1>
  <div class="row">
    <div class="col">
      <div class="display-6">
        Tus tableros
      </div>
      @foreach (TableroExtendido tablero in @Model.tableros) {
        <p>@tablero.Nombre</p>
      }
    </div>
    <div class="col">
      <div class="display-6">
        Ultima actividad
      </div>
      @foreach (TableroExtendido tablero in @Model.tableros) {
        @if (@tablero.Actividades.Count() > 0) {
          <strong>En tablero @tablero.Nombre</strong>
          <p class="m-0">Tarea #@tablero.Actividades[0].TareaId: @tablero.Actividades[0].ActividadTexto</p>
          <p class="text-black-50 m-0">- @tablero.Actividades[0].Fecha</p>
          <hr class="bg-danger border-2 border-top border-dark mt-0" />
        }
      }
    </div>
  </div>
</div>
