@using tl2_tp10_2023_TcassasT.Models
@model HomeIndexViewModel

@{
  ViewData["Title"] = "Home Page";
}

@if (Model.Estatus != null && Model.Estatus.TieneEstatus) {
  <div class="@("alert alert-" + ((int) Model.Estatus.Severidad == 0 ? "danger" : (int) Model.Estatus.Severidad == 1 ? "warning" : "success"))" role="alert">
    <strong>@Model.Estatus.EstatusMensaje</strong>
  </div>
}
<div class="container">
  <h1 class="display-4 text-center">Bienvenido @Model.UsuarioNombre</h1>
  @if (Model.EsAdministrador) {
    <div class="my-4" style="display: flex; justify-content: center;">
      <button type="button" class="btn btn-primary" style="display: flex; align-items: center;">
        <i class="bi bi-people-fill"></i>
        <a class="nav-link text-white" asp-area="" asp-controller="Usuario" asp-action="GetUsuarios">Administrar usuarios</a>
      </button>
    </div>
  }
  <div class="row">
    <div class="col">
      <div class="display-6">
        Tus tableros
      </div>
      @if (@Model.tableros.Count > 0) {
        @for(int i = 0; i < @Model.tableros.Count && i < 5; i++) {
          @foreach (TableroExtendido tablero in @Model.tableros) {
            <a asp-controller="Tablero" asp-action="GetTareasByTableroId" asp-route-idTablero=@tablero.Id>@tablero.Nombre</a>
          }
        }
        @if (@Model.tableros.Count > 5) {
          <a class="nav-link text-dark" asp-area="" asp-controller="Tablero" asp-action="GetTableros">Ver todos mis tableros...</a>
        }
      } else {
        <p>Aún no cuentas con tableros creados, <a asp-controller="Tablero" asp-action="CrearTablero">¡Crea uno aquí!</a></p>
      }
    </div>
    <div class="col">
      <div class="display-6">
        Ultima actividad
      </div>
      @if (@Model.tableros.Count > 0) {
        @foreach (TableroExtendido tablero in @Model.tableros) {
          <strong>En tablero @tablero.Nombre</strong>
          @if (@tablero.Actividades.Count() > 0) {
            <p class="m-0">Tarea #@tablero.Actividades[0].TareaId: @tablero.Actividades[0].ActividadTexto</p>
            <p class="text-black-50 m-0">- @tablero.Actividades[0].Fecha</p>
          } else {
            <p class="m-0">Este tablero no cuenta con actividad reciente...</p>
          }
          <hr class="bg-danger border-2 border-top border-dark mt-0" />
        }
      } else {
        <p>Debes crear o pertenecer al tablero de otro usuario para ver su actividad</p>
      }
    </div>
  </div>
</div>
